[submodule ".vim/pack/plugins/start/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-zoomwin"]
	path = .vim/pack/plugins/start/vim-zoomwin
	url = https://github.com/taylor/vim-zoomwin.git
[submodule ".vim/pack/plugins/start/vim-lsp"]
	path = .vim/pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/plugins/start/async.vim"]
	path = .vim/pack/plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule ".vim/pack/plugins/start/asyncomplete"]
	path = .vim/pack/plugins/start/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/plugins/start/asyncomplete-lsp"]
	path = .vim/pack/plugins/start/asyncomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule ".vim/pack/plugins/start/vim-tmux-navigator"]
	path = .vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/plugins/start/vim-latex-live-preview"]
	path = .vim/pack/plugins/start/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
